/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  background-color: #efefef;
}
/* .header {
  position: absolute;
  top: 0;
  left: 0;
} */
.navbar {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.form-control {
  width: 12rem;
  height: 3rem;
  border-radius: 10px;
  border: solid #f9b5d0;
  padding: 1rem;
}
.btn-search {
  height: 2rem;
  color: #fff;
  width: 5rem;
  border-radius: 10px;
  border: solid #fff;
  background-color: #f9b5d0;
}
.logo {
  font-size: 32px;
  color: #f9b5d0;
  margin-left: 5rem;
  border: none;
}

.search-field {
  margin-right: 3rem;
}
.profile {
  width: 3rem;
  height: 3rem;
  border: 1px solid #f9b5d0;
  border-radius: 50%;
  margin-right: 3rem;
  /* background-image: url("/templates/1.jpg"); */
  background-size: cover;
  cursor: pointer;
}
.profile img {
  width: 100%;
  border-radius: 50%;
  height: 100%;
}
.slide-container {
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
  margin-top: 7rem;
}
.slide-content {
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
  height: max-content;
}
.card {
  border-radius: 25px;
  background-color: #fff;
  /* max-height: 25rem; */
}
.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.image-content {
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #f9b5d0;
  border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #f9b5d0;
}
.overlay::after {
  border-radius: 0 25px 0 0;
  background-color: #fff;
}
.card-image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #fff;
  padding: 3px;
}
.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #f9b5d0;
}
.name {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.description {
  font-size: 14px;
  color: #707070;
  text-align: center;
}
.button {
  border: none;
  font-size: 16px;
  color: #fff;
  padding: 8px 16px;
  background-color: #f9b5d0;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.logout-button{
  border: none;
  font-size: 16px;
  color: #fff;
  padding: 8px 16px;
  background-color: #f9b5d0;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background: #f9b5d0;
}

.swiper-navBtn {
  color: #f9b5d0;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover {
  color: #f9b5d0;
}
.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 35px;
}
.swiper-button-next {
  right: 0;
}
.swiper-button-prev {
  left: 0;
}
.swiper-pagination-bullet {
  background-color: #f9b5d0;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: #f9b5d0;
}

@media screen and (max-width: 768px) {
  .slide-content {
    margin: 0 10px;
  }
  .swiper-navBtn {
    display: none;
  }
}
body {
  background-color: #ffeaea;
  color: #000000;
}

/* .update-profile {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */

.form {
  margin-bottom: 20px;
}

.profile {
  text-align: center;
}

.profile img {
  border-radius: 50%;
  width: 190px;
  height: 120px;
}

.fullname {
  /* Add additional styling here if needed */
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #9a208c;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #e11299;
  border-radius: 5px;
}

input[type="radio"] {
  margin-right: 5px;
}

textarea {
  height: 80px;
}

input[type="submit"] {
  display: block;
  width: 150px;
  margin: 0 auto;
  padding: 10px;
  background-color: #e11299;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
